

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }
body{
  overflow-x: hidden;
  background-color: rgb(51, 43, 43);
  
}
  .conteiner{
    width: 1200px;
    margin: 0 auto;  
    padding-top: 90px;
    

    
  }

  .conteinerBlok{
    height: 100vh;
    overflow: hidden;
    width: 1200px;
    }
    